.contact{
	.col-4{
		border: 1px solid white;
		margin: 20px 0;
		padding: 10px 10px;
		border-right: 2.5px;
		border-left: 2.5px;
		@media only screen and (max-width: 500px) {
			margin: 10px 0;
			padding: 5px 5px;
		}
	}
	img{
		float: left;
		margin: 0 20px 20px 20px;
		@media only screen and (max-width: 500px) {
			margin: 0 5px 5px 5px;
			max-height: 30px;
		}
	}
	hr {margin: 20px 0;
 		display: block;
 		clear: both;
		border-style: inset;
    	border-width: 1px;
		@media only screen and (max-width: 500px) {
			margin: 5px 0;
		}
		}
	.top1{
		color: #898e8f;
		text-transform: uppercase;
	}
	.top2{
		color: #343a3b;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 2.5em;
	}
	.col-12{
		margin: 50px 0 0 0;
		@media only screen and (max-width: 500px) {
			margin: 5px 0 0 0;
		}
	}
}