.testimonials{
	background-color: #03b6e7;
	padding: 50px 0;
	@media only screen and (max-width: 500px){
		padding: 25px 0;
	}
	.container{
		.col-12{
			color: #a6ecff;
			text-transform: uppercase;
			margin: 10px 0 0 0;
			@media only screen and (max-width: 500px){
				margin: 5px 0 0 0;
			}
		}
		.col-6{
			color: #fff;
			text-transform: uppercase;
			font-size: 3em;
			font-weight: bold;
			margin: 0 0 10px 0;
			@media only screen and (max-width: 500px){
				margin: 0 0 5px 0;
				font-size: 1.5em;
			}

		}
		.col-10{
			color: #ddf8ff;
			font-family: 'Roboto', sans-serif;
			margin: 30px 0;
			@media only screen and (max-width: 500px){
				margin: 15px 0;
			}
		}
		.col-8{
			:nth-child(1){
				font-weight: bold;
				text-transform: uppercase;
				color: #fff;
				height: 50%;
				padding: 6% 0 0 0;

			}
			:nth-child(2){
				padding: 0 0 6% 0;
				font-family: 'Domine', serif;
				font-size: 15px;
				color: #ddf8ff;
			}
			}
		}
		:nth-child(4){
			:nth-child(4){
				img {
					margin: 1%;
					float: right;};
			}
		}
		:nth-child(5){
					.col-2{
						background-color:#16d428;
						text-align: center;
						color: white;
						margin:10px;
						padding: 5px;
						border-radius: 15px;
						text-transform: uppercase;
						min-width: 150px;
						@media only screen and (max-width: 500px){
							font-size: 0.5em;
						}

					}
		}
	}