.page{
	img {
		max-width: 100%;
		height: auto;
	}
	font-family: 'Montserrat', sans-serif;
}

.banner{
	clear: both;
	// width: 100%;
	// height: 700px;
	background-image: url("image.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color:white;
		.container{
		height: 100%;
		margin-top: 0;
		.row:first-child {
		height: 25%;
				}
		}
	}
	.box {
		float: left;
		@media only screen and (min-width: 767px) {
			margin-top: 40%;
		}

		.row {

			.col-lg-6 {
				min-width: 137px;
				background-color: #03b6e7;
				border: 1px solid #00a6d3;
				padding: 2.5%;
				&:hover {
					background-color: #00a6d3;
				}
			}
			.img {
				height: 50%;
				//float: left;
				margin: 5%;

			}
			.innertext {
				height: 50%;
				float: left;
				@media only screen and (max-width: 500px) {
					font-size: 1em;
				}
			}
			.arrow {
				//clear: both;
				height: 50%;
				float: right;
			}
			&.bottom{
				.img{
					float: left;
					margin: 0;
					width: 25%;
					//padding: 2.5%;
				}
				clear: both;
				font-size: 1.15em;
				@media only screen and (max-width: 767px) {
					font-size: 0.6em;
				}
				font-weight: bold;
				padding: 2.5%;
				background-color: #03b6e7;
				.innertext{
					text-align: center;
					width: 75%;
					padding: 10% 0 0 0;
				}
				.phone{
					.button{
						text-align: center;
						background-color: #16d428;
						border-radius: 35px;
					}
					padding: 0 10% 2.5% 10%;
					width: 75%;
					float: right;

					font-size: 1.5em;
					@media only screen and (max-width: 767px) {
						font-size: 0.9em;
					}
				}
			}

			.top {
				padding: 2.5%;
				font-size: 2em;
				background-color: #ffac56;
				@media only screen and (max-width: 767px) {
					font-size: 1em;
				}
			}
		}
}

.about {
	margin: 30px 0;
	text-align: right;
	@media only screen and (max-width: 1000px) {
		font-size: 0.8em;
	}
	@media only screen and (max-width: 500px) {
		img {width: 0;}
	}
	.container{
		.row{
			.col-5{
				//background-image: url("about.jpg");
				//background-repeat: no-repeat;
				//background-size: auto;
				//@media only screen and (min-width: 500px) {
				//	background-image: url("about.jpg");
				//	background-repeat: no-repeat;
                //
				//}
			}
			.col-7{
				@media only screen and (max-width: 500px) {
					min-width: 100%;
					}
				}
				:nth-child(1){
					color:#898e8f;
					text-transform: uppercase;
				}
				:nth-child(2){
					font-weight: bold;
					font-size: 2em;
					text-transform: uppercase;

				}
				:nth-child(3){
					margin-top: 10px;
					font-family: 'Roboto', sans-serif;
					color: #838b8c;
				}
				:nth-child(4){
					width: 20%;
					background-color:#16d428;
					float: right;
					text-align: center;
					color: white;
					margin:10px;
					padding: 5px;
					border-radius: 15px;
					text-transform: uppercase;
					min-width: 50px;
					min-width: 75px;
				}
			}
		
		}
	}



.what{
	background-color: #e7eff1;
	padding: 70px 0;
	@media only screen and (max-width: 500px){
		padding: 35px 0;
	}
		.container{		
			.col-12 {
				color: #898e8f;
				text-transform: uppercase;
			}
			.col-6 {
			color:#343a3b;
			font-size: 2em;
			font-weight: bold;
			text-transform: uppercase;
			margin: 0 0 35px 0;
			@media only screen and (max-width: 500px){
				font-size: 1em;
				margin: 0 0 10px 0;
			}
			}
			:nth-child(4){
			color: #16d428;
			font-size: 1.6em;
			margin: 10px 0;
			}
			:nth-child(5){
			color: #343a3b;
			font-size: 1.5em;
			font-weight: bold;
			text-transform: uppercase;
			margin: 10px 0;
			@media only screen and (max-width: 500px){
				font-size: 0.8em;
			}
		}
		:nth-child(6){
			color: #838b8c;
			font-size: 1.1em;
			font-family: 'Roboto', sans-serif;
			margin: 10px 0 0 0;
			@media only screen and (max-width: 500px){
				font-size: 0.7em;
			}
		}

	}
}
.testimonials{
	background-color: #03b6e7;
	padding: 50px 0;
	@media only screen and (max-width: 500px){
		padding: 25px 0;
	}
	.container{
		.col-12{
			color: #a6ecff;
			text-transform: uppercase;
			margin: 10px 0 0 0;
			@media only screen and (max-width: 500px){
				margin: 5px 0 0 0;
			}
		}
		.col-6{
			color: #fff;
			text-transform: uppercase;
			font-size: 3em;
			font-weight: bold;
			margin: 0 0 10px 0;
			@media only screen and (max-width: 500px){
				margin: 0 0 5px 0;
				font-size: 1.5em;
			}

		}
		.col-10{
			color: #ddf8ff;
			font-family: 'Roboto', sans-serif;
			margin: 30px 0;
			@media only screen and (max-width: 500px){
				margin: 15px 0;
			}
		}
		.col-8{
			:nth-child(1){
				font-weight: bold;
				text-transform: uppercase;
				color: #fff;
				height: 50%;
				padding: 6% 0 0 0;

			}
			:nth-child(2){
				padding: 0 0 6% 0;
				font-family: 'Domine', serif;
				font-size: 15px;
				color: #ddf8ff;
			}
			}
		}
		:nth-child(4){
			:nth-child(4){
				img {
					margin: 1%;
					float: right;};
			}
		}
		:nth-child(5){
					.col-2{
						background-color:#16d428;
						text-align: center;
						color: white;
						margin:10px;
						padding: 5px;
						border-radius: 15px;
						text-transform: uppercase;
						min-width: 150px;
						@media only screen and (max-width: 500px){
							font-size: 0.5em;
						}

					}
		}
	}

.blog{
	background-color: #e7eff1;
	clear: both;
	@media only screen and (min-width: 576px) {
		background-image: url("imageblog.jpg");
		background-repeat: no-repeat;
		background-position: right;
		background-position: right top;
		background-size: 50%;
	}

	.post{
		@media only screen and (max-width: 575px){
			margin: 10px 0;
		}
			margin: 20px 0;
			.date{
				width: 100%;
				color: #343a3b;
				font-weight: bold;
			}
			.theme{
				width: 100%;
				font-weight: bold;
				font-size: 1.5em;
				text-transform: uppercase;
				@media only screen and (max-width: 575px){
					font-size: 1em;
				}
			}
			.posttext{
				width: 100%;
				margin: 20px 0;
				font-family: 'roboto', sans-serif;
				font-style: italic;
				color: #838b8c;
				@media only screen and (max-width: 575px){
					margin: 10px 0;
					font-size: 0.75em;
				}
			}	
		}
			
}

.contact{
	.col-4{
		border: 1px solid white;
		margin: 20px 0;
		padding: 10px 10px;
		border-right: 2.5px;
		border-left: 2.5px;
		@media only screen and (max-width: 500px) {
			margin: 10px 0;
			padding: 5px 5px;
		}
	}
	img{
		float: left;
		margin: 0 20px 20px 20px;
		@media only screen and (max-width: 500px) {
			margin: 0 5px 5px 5px;
			max-height: 30px;
		}
	}
	hr {margin: 20px 0;
 		display: block;
 		clear: both;
		border-style: inset;
    	border-width: 1px;
		@media only screen and (max-width: 500px) {
			margin: 5px 0;
		}
		}
	.top1{
		color: #898e8f;
		text-transform: uppercase;
	}
	.top2{
		color: #343a3b;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 2.5em;
	}
	.col-12{
		margin: 50px 0 0 0;
		@media only screen and (max-width: 500px) {
			margin: 5px 0 0 0;
		}
	}
}
