footer {
	.container {
		margin-top: 10px;
		padding: 20px 0;
	}
	.row {
		margin: 50px;
	}
	.col-sm-6{
		margin: 10px 0;
	}
	background-color: #262829;
	color: #838b8c;
	ul {
		text-transform: uppercase;
		list-style-type: none;
    	margin: 10px 0 0 0;
    	padding: 0;
	}
	.top{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.2em;
	}
	.text {
		margin: 10px 0 0 0;
	}

}
	
