// ***********header style
$headermenucolorhover:blue;
$headermenucoloractive:#ffac55;
$headermenufontsize: 0.8em;

// ***********header style


//**********************banner style
$bannerconteinerheader-bgc:orange;
$bannerconteineroption-bgc:blue;
// ******************banner style